include LICENSE
include *.md
include pyproject.toml{% if cookiecutter.kind.lower() == "server" and cookiecutter.has_tests.lower() == "y" %}
include conftest.py{% endif %}{% if cookiecutter.kind == "server" %}
recursive-include jupyter-config *.json{% endif %}

include package.json
include install.json
include ts*.json
include yarn.lock

graft {{ cookiecutter.python_name }}/labextension

# Javascript files
graft src
graft style{% if cookiecutter.has_settings.lower().startswith('y') %}
graft schema{% endif %}
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
