include LICENSE
include README.md
include pyproject.toml

{%- if cookiecutter.has_server_extension == "y" -%}
include jupyter-config/{{ cookiecutter.python_name }}.json
{% endif %}

include package.json
include ts*.json

graft {{ cookiecutter.python_name }}/static

# Javascript files
graft src
graft style
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
