# WARNING: MANIFEST.in has no effect for hatch backend
include LICENSE
include *.md
include pyproject.toml{% if cookiecutter.kind == "server" %}
recursive-include jupyter-config *.json{% endif %}{% if cookiecutter.test.lower().startswith('y') %}
include conftest.py{% endif %}

include package.json
include install.json
include ts*.json{% if cookiecutter.test.lower().startswith('y') %}
include *.config.js{% endif %}
include yarn.lock

graft {{ cookiecutter.python_name }}/labextension

# Javascript files
graft src
graft style{% if cookiecutter.has_settings.lower().startswith('y') %}
graft schema{% endif %}{% if cookiecutter.test.lower().startswith('y') %}
graft ui-tests{% endif %}
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
